# Ansible managed

[user]
    name = {{ git_user_name }}
    email = {{ git_user_email }}

[init]
    defaultBranch = {{ git_github_default_branch }}

[core]
    editor = {{ git_github_editor }}
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[credential]
    helper = {{ git_github_credential_helper }}

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    ds = diff --staged
    lg = log
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
    ls = ls-files
    unstage = reset HEAD
    pub = push --set-upstream origin HEAD

    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard

